.firstBackground {
  background: url("../../public/home/firstDivider.png");
  background-size: auto, 300%, contain;
  background-repeat: no-repeat;
}

.secondBackground {
  background: url("../../public/home/secondDivider.png");
  background-size: cover;
  background-repeat: no-repeat;
}
